--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.bufferapp.com/1/updates/create.json
    body: 
      string: access_token=1%2F8c33ad941402be1cc78956f0739a9070&profile_ids[]=<PROFILE_ID>&text=stuff%20and%20junk%201343317792
    headers: {}

  response: 
    status: 
      code: 200
      message: Awesome
    headers: 
      content-type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"success\":true,\"message\":\"One more tweet in your Buffer. Keep it topped up!\",\"updates\":[{\"_id\":\"501167219190194a33000017\",\"client_id\":\"50105bb8a45f0fa449000042\",\"created_at\":1343317793,\"day\":\"Saturday 28th July\",\"due_at\":1343499060,\"due_time\":\"2:11 pm\",\"id\":\"501167219190194a33000017\",\"profile_id\":\"<PROFILE_ID>\",\"profile_service\":\"twitter\",\"status\":\"buffer\",\"text\":\"stuff and junk 1343317792\",\"text_formatted\":\"stuff and junk 1343317792\",\"updated_at\":1343317793,\"user_id\":\"4f201de1512f7e9566000012\",\"via\":\"api\"}],\"buffer_percentage\":7,\"buffer_count\":14}"
  recorded_at: Thu, 26 Jul 2012 15:49:53 GMT
recorded_with: VCR 2.2.4
