--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.bufferapp.com/1/updates/create.json
    body: 
      string: access_token=1%2F8c33ad941402be1cc78956f0739a9070&profile_ids[]=<PROFILE_ID>&text=hello%20world%201343317793
    headers: {}

  response: 
    status: 
      code: 200
      message: Awesome
    headers: 
      content-type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"success\":true,\"message\":\"One more tweet in your Buffer. Keep it topped up!\",\"updates\":[{\"_id\":\"501167219190193e33000006\",\"client_id\":\"50105bb8a45f0fa449000042\",\"created_at\":1343317793,\"day\":\"Sunday 29th July\",\"due_at\":1343573100,\"due_time\":\"10:45 am\",\"id\":\"501167219190193e33000006\",\"profile_id\":\"<PROFILE_ID>\",\"profile_service\":\"twitter\",\"status\":\"buffer\",\"text\":\"hello world 1343317793\",\"text_formatted\":\"hello world 1343317793\",\"updated_at\":1343317793,\"user_id\":\"4f201de1512f7e9566000012\",\"via\":\"api\"}],\"buffer_percentage\":7.5,\"buffer_count\":15}"
  recorded_at: Thu, 26 Jul 2012 15:49:53 GMT
- request: 
    method: get
    uri: https://api.bufferapp.com/1/updates/501167219190193e33000006.json?access_token=1%2F8c33ad941402be1cc78956f0739a9070&profile_ids[]=<PROFILE_ID>
    body: 
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: Awesome
    headers: 
      content-type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"_id\":\"501167219190193e33000006\",\"client_id\":\"50105bb8a45f0fa449000042\",\"created_at\":1343317793,\"day\":\"Sunday 29th July\",\"due_at\":1343573100,\"due_time\":\"3:45 pm\",\"id\":\"501167219190193e33000006\",\"profile_id\":\"<PROFILE_ID>\",\"profile_service\":\"twitter\",\"status\":\"buffer\",\"text\":\"hello world 1343317793\",\"text_formatted\":\"hello world 1343317793\",\"updated_at\":1343317793,\"user_id\":\"4f201de1512f7e9566000012\",\"via\":\"api\"}"
  recorded_at: Thu, 26 Jul 2012 15:49:54 GMT
recorded_with: VCR 2.2.4
